
@{ ViewBag.Title = "talents"; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Live Search</title>
    <link rel="stylesheet" href="~/Scripts/mystyle.css" />
</head>
<body>
    <div id="searcharea">
        <label for="search">live search</label>
        <p>Enter the name or info about a speaker</p>
        <input type="search" name="search" id="search" placeholder="name or info" />
    </div>
    <div id="spinner" class="loader"></div>
    <div id="update"></div>
</body>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/script.js"></script>
</html>

